	<footer class="footer">
		 <div class="container">
		 	<div class="row justify-content-between">
		 		<div class="left col-md-4">
		 			<span>© Copyright 2014  - 2015, All Rights Reserved<br>
		 								Designed by: www.designoatmeal.com</span>
		 		</div>
		 		<div class="right col-md-4">
		 			<span>Conect with us </span>
						<a href=""><i class="ion-social-facebook"></i></a>
						<a href=""><i class="ion-social-twitter"></i></a>
						<a href=""><i class="ion-social-dribbble-outline"></i></a>
						<a href=""><i class="ion-social-instagram-outline"></i></a>
		 		</div>
		 	</div>
		 </div>
	</footer>

<script src="https://use.fontawesome.com/fe89b3007d.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
	
<script src="js/script.js"></script>

</body>
</html>