<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>SPA</title>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
	<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">	
	<link rel="stylesheet" href="css/style.css">

</head>
<body>

	<header class="header">
		<div class="header-main container">
			 <div class="header-logo col-md-4">
			 	<img src="../img/logo-header.png" alt="">
			 </div>
			 <h1>Beauty care with a personal touch </h1>
			 <p class="col-md-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia
			nostrud exercitation ullamco laboris nisi ut aliquip </p>
			<a class="header-button" href="#">Read more</a>
		 	 <a class="header-scroll" href="#services"></a>
 			
		</div>
	</header>